<div class="container mt-5">
  <div class="card">
    <div class="card-header">
      <div class="d-flex justify-content-between">
        <div>Add New Item</div>
        <div>
          <button type="button" class="btn btn-primary" (click)="back()">
            Back
          </button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="form-group">
          <label>Name</label>
          <input
            type="text"
            formControlName="name"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f['name'].errors }"
          />
          @if (submitted && f['name'].errors) {
          <div class="invalid-feedback">
            @if (f['name'].errors['required']) {
            <div>Name is required</div>
            }
          </div>
          }
        </div>
        <div class="form-group mt-3">
          <label>Description</label>
          <input
            type="text"
            formControlName="description"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f['description'].errors }"
          />
          @if (submitted && f['description'].errors) {
          <div class="invalid-feedback">
            @if (f['description'].errors['required']) {
            <div>Description is required</div>
            }
          </div>
          }
        </div>

        <div class="form-check mt-3">
          <input
            class="form-check-input"
            type="checkbox"
            formControlName="is_enabled"
          />
          <label class="form-check-label" for="flexCheckDefault">
            Is Enabled
          </label>
        </div>

        <button class="btn btn-primary mt-2" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
